 .header {
    display: grid;
    grid-template-columns: 4fr 8fr;
     min-height: 20vh;
}

.myPhoto img {
    z-index: -1;
    position: absolute;
    margin-top: 3vh;
    width:  26vw;
    height: auto;
}

.shortInfo h1{
    font-size: 3vw;
    margin-top: 5vh;
    width: 31ch;
    color: black;
    white-space: nowrap;
    border-right: 3px solid blueviolet;
    font-family: monospace;
    overflow: hidden;
    animation:
            dash 1s step-end infinite,
            typing 2.5s steps(31);
}

@keyframes dash {
    0%{
        border-color: blueviolet;
    }
    50%{
        border-color: transparent;
    }
    100%{
        border-color: blueviolet;
    }
}
@keyframes typing {
    from { width: 0 }
}

.shortInfo p {
    text-align: justify;
    font-size: 2vw;
    margin-top: 50px;
    margin-right: 50px;
    font-family: monospace;
    overflow: hidden;
}

.aboutMe {
    animation:
            show 2.5s step-end;
}

@keyframes show {
    0% {
       visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}

.showLinks {
    position: relative;
    display: inline-block;
    border-bottom: 3px solid blueviolet;
}

.showLinks:hover {
    cursor: pointer;
    border-bottom: 3px solid green;
}

.showLinks:hover .hideLinks {
    visibility: visible;
}

.hideLinks {
    left: 18%;
    bottom: 100%;
    visibility: hidden;
    width: 60%;
    padding: 5px 5px 4px 5px;
    background: rgba(55, 13, 80, 0.5);
    border-radius: 5px;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.hideLinks i {
    font-size: 2ch;
    color: red;
}

 .hideLinks i:hover {
     color: blueviolet;
 }

.headHunter {
    text-decoration: none;
    display: inline-block;
    border-bottom: 3px solid blueviolet;
}

.headHunter span {
    color: black;
}


.headHunter:hover {
    cursor: pointer;
    border-bottom: 3px solid green;
}

 @media (max-width: 1024px) {
     .header {
         display: flex;
         flex-direction: column-reverse;
         margin-bottom: 25vw;
         align-items: center;
     }

     .shortInfo {
         padding-left: 50px;
         display: flex;
         flex-direction: column;
     }

     .shortInfo h1{
         font-size: 4vw;
     }

     .shortInfo p{
        font-size: 3vw;
     }
 }

 @media (max-width: 768px) {
     .myPhoto img {
         width:  30vw;
     }
 }

 @media (max-width: 500px) {
     .header {
         margin-bottom: 45vw;
     }

     .myPhoto img {
         width:  50vw;
     }

     .shortInfo h1{
         font-size: 5vw;
     }

     .shortInfo p{
         font-size: 4vw;
     }

     .headHunter {
         border-bottom: none;
     }

     .headHunter span{
         color: blueviolet;
     }
 }


 @media (max-width: 425px) {

     .shortInfo h1{
         font-size: 4.5vw;
     }

     .myPhoto img {
         width:  50vw;
     }
 }


 @media (max-width: 340px) {
     .myPhoto img {
         width:  50vw;
     }

     .header {
         margin-bottom: 20vh;
     }
 }
