* {
    margin: 0;
    padding: 0;
}

.background {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("./images/bsckground/background.jpeg");
}

.footer {
    display: flex;
    justify-content: center;
    padding-bottom: 3vh;
}

.footer i {
    width: 3vw;
    height: 3vw;
    color: white;
    margin-right: 3vw;
    font-size: 3.4vw;
    border: 3px solid white;
    border-radius: 10%;
    padding: 15px;
}

.footer i:nth-child(2) {
    font-size: 2.8vw;
}

.footer i:hover {
    animation: radium 0.5s infinite;
}

@keyframes radium {
    from,
    to {
       border-radius: 10%;
    }
    50% {border-radius: 50%;
    color: blueviolet}
    100% { border-radius: 10%; }

}